let pageIndex = 0;
const pages = [
    'Página 1:veja como realcar sua beleza  1. <img src="image1.jpg" alt="Descrição da Imagem">',
    'Página 2: Exemplo de texto da página 2. <img src="image2.jpg" alt="Descrição da Imagem">',
    'Página 3: Exemplo de texto da página 3. <img src="image3.jpg" alt="Descrição da Imagem">'
];

document.getElementById('next-btn').addEventListener('click', function() {
    if (pageIndex < pages.length - 1) {
        pageIndex++;
        updatePage();
    }
});

document.getElementById('prev-btn').addEventListener('click', function() {
    if (pageIndex > 0) {
        pageIndex--;
        updatePage();
    }
});

document.getElementById('theme-toggle').addEventListener('click', function() {
    const body = document.body;
    body.classList.toggle('dark-theme');
    body.classList.toggle('light-theme');
});

function updatePage() {
    document.getElementById('page-content').innerHTML = pages[pageIndex];
}
